@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui";

@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  p {
    font-family: "Myriad Pro", sans-serif;
    font-size: 20px; /* 16px */
    color: white; /* Gør teksten hvid */
    margin-bottom: 1rem; /* Tilføjer margin-bottom */
  }
}

@layer components {
}
@layer utilities {
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roslindale Display";
  src: url("../fonts/Roslindale-DisplayCondensedRegular-Testing.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Cyrillic";
  src: url("../fonts/FuturaCyrillicMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
