---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Titel">
  <section class="relative h-screen" id="section1">
    <!-- Video Background -->
    <video
      class="absolute top-0 left-0 w-full h-full object-cover opacity-25"
      autoplay
      muted
      loop
    >
      <source src="../hero.mp4" type="video/mp4" />
      <!-- Alternativ tekst, hvis videoen ikke kan afspilles -->
      Din browser understøtter ikke video.
    </video>

    <!-- Overlay tekst -->
    <article
      class="relative h-screen flex flex-col items-center justify-center text-white"
      id="section"
    >
      <div class="text-center">
        <h2 class="text-5xl md:text-6xl font-bold">
          <span style="font-family: 'Futura Cyrillic', sans-serif;">SAVE</span>
          <span style="font-family: 'Roslindale Display', sans-serif;"
            >The Turtles</span
          >
        </h2>
        <Button>DONATE NOW</Button>
      </div>
    </article>
  </section>

  <section
    class="relative h-screen flex flex-col items-center justify-center text-white"
    id="section2"
  >
    <div class="text-center">
      <h2 class="text-5xl md:text-6xl font-bold">
        <span style="font-family: 'Futura Cyrillic', sans-serif;">RARE</span>
        <span style="font-family: 'Roslindale Display', sans-serif;"
          >Survivors</span
        >
      </h2>
      <p
        class="mt-4 max-w-[65ch] text-center"
        style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
      >
        Only 1 in 1,000 of baby sea turtles make it to adulthood due to
        predators, pollution, and human interference. Most don’t survive their
        first year.
      </p>
    </div>

    <img
      src="/turtlenet.png"
      alt="Turtle Image"
      class="absolute top-10 right-10 max-w-full h-auto w-30 sm:w-40 md:w-50 lg:w-60 parallax-image -z-10"
    />
    <img
      src="/turtle1.png"
      alt="Turtle Image"
      class="absolute top-30 left-10 max-w-full h-auto w-30 sm:w-40 md:w-50 lg:w-60 parallax-image2 -z-10"
    />
    <img
      src="/eggshell.png"
      alt="eggshell"
      class="absolute top-0 left-20 max-w-full h-auto w-30 sm:w-40 md:w-50 lg:w-60 parallax-image3 -z-10"
    />
  </section>

  <section
    class="h-screen flex items-center justify-center overflow-hidden m-10"
    id="section3"
  >
    <div
      class="container border-2 border-white p-5 max-w-2xl w-full rounded-xl"
    >
      <p class="text-white" style="font-family: 'Myriad Pro', sans-serif;">
        Hatchling survival rate
      </p>
      <div
        id="egg-container"
        class="mangeelementerinview grid grid-cols-10 grid-rows-10 gap-1 justify-center items-center"
      >
        <!-- Billeder tilføjes her via JavaScript -->
        <img src="../egg2.png" alt="" />
      </div>
      <p
        class="text-white mt-10"
        style="font-family: 'Myriad Pro', sans-serif;"
      >
        Out of every 1,000 hatchlings, only one survives to adulthood.
        Predators, pollution, and human interference make their journey nearly
        impossible. Without action, entire populations could disappear.
      </p>
    </div>
  </section>
  <section
    class="relative h-screen flex flex-col items-center justify-center text-white"
    id="section4"
  >
    <div class="text-center">
      <h2 class="text-5xl md:text-6xl font-bold">
        <span style="font-family: 'Futura Cyrillic', sans-serif;">PLASTIC</span>
        <span style="font-family: 'Roslindale Display', sans-serif;">Kills</span
        >
      </h2>
      <p
        class="mt-4 max-w-[65ch] text-center"
        style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
      >
        102 sea turtles from three different oceans were found with 150 to 500
        pieces of plastic in their bodies. Mistaking plastic for food leads to
        malnutrition, blockages, and death. With plastic pollution rising, more
        turtles face a deadly fate.
      </p>
    </div>

    <img
      src="/turtlenet.png"
      alt="Turtle Image"
      class="absolute top-10 right-10 max-w-full h-auto w-30 sm:w-40 md:w-50 lg:w-60 parallax-image -z-10"
    />
    <img
      src="/turtle1.png"
      alt="Turtle Image"
      class="absolute top-30 left-10 max-w-full h-auto w-30 sm:w-40 md:w-50 lg:w-60 parallax-image2 -z-10"
    />
    <img
      src="/eggshell.png"
      alt="eggshell"
      class="absolute top-0 left-20 max-w-full h-auto w-30 sm:w-40 md:w-50 lg:w-60 parallax-image3 -z-10"
    />
  </section>
  <section
    class="h-screen flex items-center justify-center overflow-hidden m-10"
    id="section5"
  >
    <div
      class="container border-2 border-white p-5 max-w-2xl w-full rounded-xl"
    >
      <p class="text-white" style="font-family: 'Myriad Pro', sans-serif;">
        PLASTIC FOUND IN EVERY SEA TURTLE
      </p>
      <div class="grid grid-cols-2">
        <div class="relative 96 h-96 mx-auto">
          <!-- Stor figur -->
          <img
            src="/white.png"
            alt="Stor figur"
            class="w-full h-full object-contain"
          />

          <!-- Små figurer placeret ovenpå -->
          <img
            src="/ballon.png"
            alt="Lille figur 1"
            class="absolute top-30 left-27 w-20 animate-pulse"
          />
          <img
            src="/clothing.png"
            alt="Lille figur 2"
            class="absolute top-40 right-24 w-20 animate-pulse"
          />
          <img
            src="/tire.png"
            alt="Lille figur 3"
            class="absolute bottom-30 left-1/3 w-20 animate-pulse"
          />
          <img
            src="/cigarette.png"
            alt="Lille figur 3"
            class="absolute bottom-24 left-34 w-14 animate-pulse"
          />
          <img
            src="/hook.png"
            alt="Lille figur 3"
            class="absolute bottom-20 left-1/3 w-10 animate-pulse"
          />
        </div>
        <div class="grid grid-rows-5 gap-4">
          <div class="flex items-center gap-4 justify-center">
            <img src="./stick.png" alt="" />
            <p>BALOON FRAGMENTS</p>
          </div>
          <div class="flex items-center gap-4 justify-center">
            <img src="./stick.png" alt="" />
            <p>CLOTHING</p>
          </div>
          <div class="flex items-center gap-4 justify-center">
            <img src="./stick.png" alt="" />
            <p>TIRE FRAGMENTS</p>
          </div>
          <div class="flex items-center gap-4 justify-center">
            <img src="./stick.png" alt="" />
            <p>CIGARETTES</p>
          </div>
          <div class="flex items-center gap-4 justify-center">
            <img src="./stick.png" alt="" />
            <p>FISHING GEAR</p>
          </div>
        </div>
      </div>
      <p
        class="text-white mt-10"
        style="font-family: 'Myriad Pro', sans-serif;"
      >
        102 sea turtles from three different oceans were found with 150 to 500
        pieces of plastic in their bodies. Mistaking plastic for food leads to
        malnutrition, blockages, and death. With plastic pollution rising, more
        turtles face a deadly fate.
      </p>
    </div>
  </section>
</MainLayout>

<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";

  const container = document.getElementById("egg-container");

  for (let i = 1; i <= 99; i++) {
    const img = document.createElement("img");
    img.src = "/egg.png";
    img.alt = "Et æg";
    img.classList.add(`mangeelementer${i}`, "h-auto"); // Tilføjer klasser
    container.appendChild(img);
  }

  /* Mange elementer der animerer ind */
  inView(".mangeelementerinview", () => {
    for (let i = 1; i <= 99; i++) {
      animate(
        `.mangeelementer${i}`, // For hver æg, brug den dynamiske klasse
        { x: [-2000, 0], y: [-50, 0] }, // Eller hvad end din animation skal være
        { duration: 1 + Math.random() * 1 } // Varighed mellem 1 og 2 sekunder
      );
    }

    return () => {
      for (let i = 1; i <= 99; i++) {
        animate(
          `.mangeelementer${i}`,
          { x: [-2000, 0], y: [-50, 0] },
          { duration: 1 + Math.random() * 1 } // Varighed mellem 1 og 2 sekunder for hver æg
        );
      }
    };
  });

  //parallax effekt på skilpadder
  window.addEventListener("scroll", function () {
    const image = document.querySelector(".parallax-image");
    const scrollPosition = window.scrollY;
    image.style.transform = `translateY(${scrollPosition * 0.3}px)`; // Juster bevægelsen
  });
  window.addEventListener("scroll", function () {
    const image = document.querySelector(".parallax-image2");
    const scrollPosition = window.scrollY;
    image.style.transform = `translateY(${scrollPosition * 0.3}px)`; // Juster bevægelsen
  });
  window.addEventListener("scroll", function () {
    const image = document.querySelector(".parallax-image3");
    const scrollPosition = window.scrollY;
    image.style.transform = `translateY(${scrollPosition * 0.3}px)`; // Juster bevægelsen
  });
</script>
