---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Scrollbar from "../components/Scrollbar.astro";
---

<MainLayout title="Titel">
  <section class="relative h-screen" id="section1">
    <!-- Video Background -->
    <video
      class="absolute top-0 left-0 w-full h-full object-cover opacity-25"
      autoplay
      muted
      loop
    >
      <source src="../hero.mp4" type="video/mp4" />
      <!-- Alternativ tekst, hvis videoen ikke kan afspilles -->
      Din browser understøtter ikke video.
    </video>

    <!-- Overlay tekst -->
    <article
      class="relative h-screen flex flex-col items-center justify-center text-white"
      id="section"
    >
      <div class="text-center">
        <h2 class="text-5xl md:text-6xl font-bold">
          <span style="font-family: 'Futura Cyrillic', sans-serif;">SAVE</span>
          <span style="font-family: 'Roslindale Display', sans-serif;"
            >The Turtles</span
          >
        </h2>
        <Button>DONATE NOW</Button>
      </div>
    </article>
  </section>

  <section
    class="relative h-screen flex flex-col items-center justify-center text-white"
    id="section2"
  >
    <div class="">
      <h2 class="text-5xl md:text-6xl font-bold text-center">
        <span style="font-family: 'Futura Cyrillic', sans-serif;">RARE</span>
        <span
          class="z-20"
          style="font-family: 'Roslindale Display', sans-serif;">Survivors</span
        >
      </h2>
      <p
        class="mt-4 max-w-[65ch] z-30 text-left block ml-10"
        style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
      >
        Only 1 in 1,000 of baby sea turtles make it to adulthood due to
        predators, pollution, and human interference. Most don’t survive their
        first year.
      </p>
    </div>

    <div
      class="absolute inset-0 grid grid-cols-7 grid-rows-7 gap-4 w-full h-full max-w-7xl mx-auto"
    >
      <img
        src="/turtlenet.png"
        alt="Turtle Image"
        class="parallax-image col-span-5 row-span-2 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 translate-x-50 translate-y-10"
        data-speed="0.05"
      />
      <img
        src="/turtle1.png"
        alt="Turtle Image"
        class="parallax-image col-span-4 row-span-6 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 translate-x-100 translate-y-5"
        data-speed="0.08"
      />
      <img
        src="/turtle2.png"
        alt="Turtle Image"
        class="parallax-image col-span-4 row-span-6 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 -translate-x-3 translate-y-4"
        data-speed="0.1"
      />

      <img
        src="/turtle4.png"
        alt="Turtle Image"
        class="parallax-image col-span-4 row-span-6 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 translate-x-100 -translate-y-1"
        data-speed="0.1"
      />
      <img
        src="/eggshell.png"
        alt="Eggshell"
        class="parallax-image col-span-4 row-span-1 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 rotate-2 translate-x-3 -translate-y-2"
        data-speed="0.05"
      />
      <img
        src="/eggshell.png"
        alt="Eggshell"
        class="parallax-image col-span-2 row-span-3 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 rotate-100 translate-x-2 -translate-y-20"
        data-speed="0.07"
      />
    </div>
  </section>

  <section
    class="h-screen flex items-center justify-center overflow-hidden m-10"
    id="section3"
  >
    <div class="container border-white p-5 max-w-2xl w-full rounded-xl">
      <p
        class="text-white font-bold"
        style="font-family: 'Myriad Pro', sans-serif;"
      >
        Hatchling survival rate
      </p>
      <div
        id="egg-container"
        class="mangeelementerinview grid grid-cols-10 grid-rows-10 gap-1 justify-center items-center"
      >
        <!-- Billeder tilføjes her via JavaScript -->
        <img src="../egg2.png" alt="" />
      </div>
      <p
        class="text-white mt-10"
        style="font-family: 'Myriad Pro', sans-serif;"
      >
        Out of every 1,000 hatchlings, only one survives to adulthood.
        Predators, pollution, and human interference make their journey nearly
        impossible. Without action, entire populations could disappear.
      </p>
    </div>
  </section>
  <section
    class="relative h-screen flex flex-col items-center justify-center text-white"
    id="section4"
  >
    <div class="z-10">
      <h2 class="text-5xl md:text-6xl font-bold text-center">
        <span style="font-family: 'Futura Cyrillic', sans-serif;">PLASTIC</span>
        <span style="font-family: 'Roslindale Display', sans-serif;">Kills</span
        >
      </h2>
      <p
        class="mt-4 max-w-[65ch] ml-10"
        style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
      >
        102 sea turtles from three different oceans were found with 150 to 500
        pieces of plastic in their bodies. Mistaking plastic for food leads to
        malnutrition, blockages, and death. With plastic pollution rising, more
        turtles face a deadly fate.
      </p>
    </div>

    <div
      class="absolute inset-0 grid grid-cols-7 grid-rows-7 gap-10 w-full h-full max-w-7xl mx-auto"
    >
      <img
        src="/turtle5.png"
        alt="Turtle Image"
        class="parallax-image col-span-4 row-span-2 max-w-full h-auto w-50 sm:w-60 md:w-70 lg:w-80 translate-x-5 -translate-y-5"
        data-speed="0.05"
      />
      <img
        src="/bottle.png"
        alt="Bottle"
        class="parallax-image col-span-3 row-span-5 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 justify-self-end translate-x- -translate-y-10"
        data-speed="0.08"
      />
      <img
        src="/bottle2.png"
        alt="Bottle2"
        class="parallax-image col-span-3 row-span-6 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 justify-self-end -translate-x-2 translate-y-2"
        data-speed="0.1"
      />
      <img
        src="/bottle3.png"
        alt="Bottle3"
        class="parallax-image col-span-3 row-span-6 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 justify-self-end translate-x-5 -translate-y-8"
        data-speed="0.1"
      />
      <img
        src="/bag.png"
        alt="Bag"
        class="parallax-image col-span-2 row-span-2 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 rotate-2 justify-self-end translate-x-1 -translate-y-5"
        data-speed="0.05"
      />
      <img
        src="/bag2.png"
        alt="Plastic bag"
        class="parallax-image col-span-2 row-span-2 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 rotate-2 justify-self-end translate-x-3 -translate-y-20"
        data-speed="0.05"
      />
      <img
        src="/plasticcup.png"
        alt="Plastic Cup"
        class="parallax-image col-span-2 row-span-3 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 justify-self-end translate-x-1 -translate-y-65"
        data-speed="0.07"
      />
    </div>
  </section>
  <section
    class="h-screen flex items-center justify-center overflow-hidden m-10"
    id="section5"
  >
    <div class="container p-5 max-w-2xl w-full rounded-xl">
      <p class="text-white" style="font-family: 'Myriad Pro', sans-serif;">
        PLASTIC FOUND IN EVERY SEA TURTLE
      </p>
      <div class="grid grid-cols-2">
        <div class="relative 96 h-96 mx-auto">
          <!-- Stor figur -->
          <img
            src="/white.png"
            alt="Stor figur"
            class="w-full h-full object-contain"
          />

          <!-- Små figurer placeret ovenpå -->
          <img
            src="/ballon.png"
            alt="Lille figur 1"
            class="absolute top-30 left-27 w-20 animate-pulse"
          />
          <img
            src="/clothing.png"
            alt="Lille figur 2"
            class="absolute top-40 right-24 w-20 animate-pulse"
          />
          <img
            src="/tire.png"
            alt="Lille figur 3"
            class="absolute bottom-30 left-1/3 w-20 animate-pulse"
          />
          <img
            src="/cigarette.png"
            alt="Lille figur 3"
            class="absolute bottom-24 left-34 w-14 animate-pulse"
          />
          <img
            src="/hook.png"
            alt="Lille figur 3"
            class="absolute bottom-20 left-1/3 w-10 animate-pulse"
          />
        </div>
        <div class="flex flex-col space-y-6 text-white">
          <div class="flex items-center space-x-4 overflow-hidden group-item">
            <img
              src="./stick.png"
              class="animated-stroke w-24 h-1 scale-x-0 transition-transform duration-1000 origin-left"
            />
            <span
              class="animated-word opacity-0 transition-opacity duration-1000 text-lg font-medium"
            >
              Balloon fragments
            </span>
          </div>

          <div class="flex items-center space-x-4 overflow-hidden group-item">
            <img
              src="./stick.png"
              class="animated-stroke w-24 h-1 scale-x-0 transition-transform duration-1000 origin-left"
            />
            <span
              class="animated-word opacity-0 transition-opacity duration-1000 text-lg font-medium"
            >
              Clothing
            </span>
          </div>

          <div class="flex items-center space-x-4 overflow-hidden group-item">
            <img
              src="./stick.png"
              class="animated-stroke w-24 h-1 scale-x-0 transition-transform duration-1000 origin-left"
            />
            <span
              class="animated-word opacity-0 transition-opacity duration-1000 text-lg font-medium"
            >
              Tire fragments
            </span>
          </div>

          <div class="flex items-center space-x-4 overflow-hidden group-item">
            <img
              src="./stick.png"
              class="animated-stroke w-24 h-1 scale-x-0 transition-transform duration-1000 origin-left"
            />
            <span
              class="animated-word opacity-0 transition-opacity duration-1000 text-lg font-medium"
            >
              Cigarettes
            </span>
          </div>

          <div class="flex items-center space-x-4 overflow-hidden group-item">
            <img
              src="./stick.png"
              class="animated-stroke w-24 h-1 scale-x-0 transition-transform duration-1000 origin-left"
            />
            <span
              class="animated-word opacity-0 transition-opacity duration-1000 text-lg font-medium"
            >
              Fishing gear
            </span>
          </div>
        </div>
      </div>
      <p
        class="text-white mt-10"
        style="font-family: 'Myriad Pro', sans-serif;"
      >
        102 sea turtles from three different oceans were found with 150 to 500
        pieces of plastic in their bodies. Mistaking plastic for food leads to
        malnutrition, blockages, and death. With plastic pollution rising, more
        turtles face a deadly fate.
      </p>
    </div>
  </section>
  <section
    class="relative h-screen flex flex-col items-center justify-center text-white"
    id="section6"
  >
    <div class="z-10">
      <h2 class="text-5xl md:text-6xl font-bold text-center">
        <span style="font-family: 'Futura Cyrillic', sans-serif;">TRAPPED&</span
        >
        <span style="font-family: 'Roslindale Display', sans-serif;"
          >Drowned</span
        >
      </h2>
      <p
        class="mt-4 max-w-[65ch] ml-10"
        style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
      >
        Each year, thousands of sea turtles drown after getting trapped in
        fishing nets and hooks, unable to reach the surface for air.
      </p>
    </div>

    <div
      class="absolute inset-0 grid grid-cols-7 grid-rows-7 gap-10 w-full h-full max-w-7xl mx-auto"
    >
      <img
        src="/turtlenet2.png"
        alt="Turtle Image"
        class="parallax-image col-span-4 row-span-2 max-w-full h-auto w-50 sm:w-60 md:w-70 lg:w-80 translate-x-5 -translate-y-5"
        data-speed="0.05"
      />
      <img
        src="/turtlenet.png"
        alt="Bottle"
        class="parallax-image col-span-3 row-span-5 max-w-full h-auto w-40 sm:w-40 md:w-50 lg:w-60 justify-self-end translate-x-0 -translate-y-10"
        data-speed="0.08"
      />

      <img
        src="/net.png"
        alt="Plastic bag"
        class="parallax-image col-span-2 row-span-2 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 rotate-2 justify-self-end translate-x-3 -translate-y-20"
        data-speed="0.05"
      />
      <img
        src="/net.png"
        alt="Plastic bag"
        class="parallax-image col-span-2 row-span-2 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 rotate-2 justify-self-end translate-x-4 -translate-y-20"
        data-speed="0.05"
      />
      <img
        src="/net.png"
        alt="Plastic bag"
        class="parallax-image col-span-2 row-span-2 max-w-full h-auto w-20 sm:w-30 md:w-40 lg:w-50 rotate-2 justify-self-end translate-x-10 -translate-y-10"
        data-speed="0.05"
      />
    </div>
  </section>
  <section
    class="h-screen flex items-center justify-center overflow-hidden m-10"
    id="section7"
  >
    <ul
      class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
    >
      <li>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="white"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="timeline-start mb-10 md:text-end text-white stagger">
          <time class="text-white text-lg font-bold"
            >LIFESPAN OF A FISHINGNET</time
          >
          <div class="text-white text-lg">0-1 Years</div>
          Net is lost or discarded, starts entangling marine life.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="white"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="timeline-end md:mb-10 text-white stagger">
          <time class=""></time>
          <div class="text-lg">5-10 years</div>
          Breaks into large fragments, still trapping animals.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="white"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="timeline-start mb-10 md:text-end text-white stagger">
          <time class=""></time>
          <div class="text-lg">50-100 years</div>
          Ghost net remains intact, slowly breaking into microplastics.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="white"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <div class="timeline-end md:mb-10 text-white stagger">
          <time class=""></time>
          <div class="text-lg">600+ Years</div>
          Fully degraded into invisible microplastics, still harming ecosystems.
        </div>
        <hr />
      </li>
    </ul>
  </section>
  <section
    class="relative h-screen flex flex-col items-center justify-center text-white"
    id="section8"
  >
    <div class="z-10">
      <h2 class="text-5xl md:text-6xl font-bold text-center">
        <span style="font-family: 'Futura Cyrillic', sans-serif;">POACHING</span
        >
        <span style="font-family: 'Roslindale Display', sans-serif;"
          >Kills Thousands</span
        >
      </h2>
      <p
        class="mt-4 max-w-[65ch] ml-10"
        style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
      >
        Despite protections, sea turtles are still hunted for their shells,
        meat, and eggs. Illegal poaching pushes many species closer to
        extinction.
      </p>
    </div>

    <div
      class="absolute inset-0 grid grid-cols-7 grid-rows-7 gap-10 w-full h-full max-w-7xl mx-auto"
    >
      <img
        src="/turtleblood.png"
        alt="Turtle Image"
        class="parallax-image col-span-6 row-span-6 max-w-full h-auto w-90 sm:w-100 md:w-110 lg:w-120 translate-x-50 translate-y-40"
        data-speed="0.05"
      />
    </div>
  </section>

  <section
    class="relative h-screen flex flex-col items-center justify-center text-white"
    id="section9"
  >
    <div class="z-10 relative">
      <h2 class="text-5xl md:text-6xl font-bold text-center">
        <span style="font-family: 'Futura Cyrillic', sans-serif;">FADING</span>
        <span style="font-family: 'Roslindale Display', sans-serif;"
          >Future</span
        >
      </h2>
      <p
        class="mt-4 max-w-[65ch] ml-10"
        style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
      >
        Each year, rising ocean temperatures cause coral reefs to bleach and
        die, destroying vital habitats for sea turtles. Without these reefs,
        turtles lose key feeding and nesting grounds.
      </p>
    </div>
    <figure class="diff aspect-16/9 rounded-lg" tabindex="0">
      <div class="diff-item-1" role="img">
        <img alt="daisy" src="../coralbefore.jpg" />
      </div>
      <div class="diff-item-2" role="img" tabindex="0">
        <img alt="daisy" src="../coralafter.jpg" />
      </div>
      <div class="diff-resizer"></div>
    </figure>

    <p
      class="text-white mt-10 ml-10"
      style="font-family: 'Myriad Pro', sans-serif; line-height: 1.5;"
    >
      A DYING HOME <br />
      Coral reefs are disappearing at an alarming rate, turning from vibrant ecosystems
      into lifeless skeletons. Rising ocean temperatures cause coral bleaching, stripping
      reefs of the algae that sustain them. For sea turtles, this means the loss
      of essential feeding grounds, shelter from predators, and nesting stability.
      As reefs fade, so does the biodiversity that turtles depend on, pushing them
      closer to extinction.
    </p>
  </section>
  <section
    class="h-screen flex items-center justify-center overflow-hidden m-10"
    id="section10"
  >
    <div class="max-w-xl mx-auto p-6 rounded-2xl mb-30">
      <h2 class="text-7xl font-semibold mb-4 text-center">
        <span style="font-family: 'Roslindale Display', sans-serif;"
          >Help us make a</span
        >
        <span
          style="font-family: 'Futura Cyrillic', sans-serif;"
          class="uppercase">Change</span
        >
      </h2>
      <form class="space-y-4" style="font-family: Myriad Pro;">
        <!-- Navn -->
        <div>
          <label for="navn" class="block text-sm font-medium text-white"
            >Name</label
          >
          <input
            type="text"
            id="navn"
            name="navn"
            placeholder="Jens Jensen"
            class="mt-1 block w-full p-2 border border-[#8BCAFA] rounded-lg shadow-sm bg-[#214157]"
          />
          <label for="telefon" class="block text-sm font-medium text-white mt-3"
            >Phonenumber</label
          >
          <input
            type="tel"
            id="telefon"
            name="telefon"
            placeholder="+45"
            class="mt-1 block w-full p-2 border border-[#8BCAFA] rounded-lg shadow-sm bg-[#214157]"
          />
          <label for="besked" class="block text-sm font-medium text-white mt-5"
          ></label>
          <textarea
            id="besked"
            name="besked"
            rows="4"
            placeholder="Message"
            class="mt-1 block w-full p-2 border border-[#8BCAFA] rounded-lg shadow-sm bg-[#214157]"
          ></textarea>
        </div>
        <div>
          <button
            type="submit"
            class="w-full bg-[#214157] border-[#8BCAFA] text-white py-2 px-4 rounded-xl mt-2"
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </section>
</MainLayout>

<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";

  const container = document.getElementById("egg-container");

  for (let i = 1; i <= 99; i++) {
    const img = document.createElement("img");
    img.src = "/egg.png";
    img.alt = "Et æg";
    img.classList.add(`mangeelementer${i}`, "h-auto"); // Tilføjer klasser
    container.appendChild(img);
  }

  /* Mange elementer der animerer ind */
  inView(".mangeelementerinview", () => {
    for (let i = 1; i <= 99; i++) {
      animate(
        `.mangeelementer${i}`, // For hver æg, brug den dynamiske klasse
        { x: [-2000, 0], y: [-50, 0] }, // Eller hvad end din animation skal være
        { duration: 1 + Math.random() * 1 } // Varighed mellem 1 og 2 sekunder
      );
    }

    return () => {
      for (let i = 1; i <= 99; i++) {
        animate(
          `.mangeelementer${i}`,
          { x: [-2000, 0], y: [-50, 0] },
          { duration: 1 + Math.random() * 1 } // Varighed mellem 1 og 2 sekunder for hver æg
        );
      }
    };
  });

  // Stagger animation på stick og ord

  const items = document.querySelectorAll(".group-item");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry, index) => {
        if (entry.isIntersecting) {
          const stroke = entry.target.querySelector(".animated-stroke");
          const word = entry.target.querySelector(".animated-word");

          const delay = index * 400;

          stroke.style.transitionDelay = `${delay}ms`;
          word.style.transitionDelay = `${delay + 400}ms`; // lidt senere end stregen

          stroke.classList.remove("scale-x-0");
          stroke.classList.add("scale-x-100");

          word.classList.remove("opacity-0");
          word.classList.add("opacity-100");

          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.3 }
  );

  items.forEach((item) => observer.observe(item));

  //parallax effekt på skilpadder
  window.addEventListener("scroll", function () {
    const scrollPosition = window.scrollY;
    document.querySelectorAll(".parallax-image").forEach((image) => {
      const speed = image.getAttribute("data-speed");
      image.style.transform = `translateY(${scrollPosition * speed}px)`;
    });
  });
</script>
